<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fotogallery">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/fotogalleryicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FotoGallery">
        <activity
            android:name=".activity.ClickedItemActivity"
            android:exported="false" />
        <activity
            android:name=".activity.OptionsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.UploadActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.FotoGallery.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="false"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.FotoGallery.NoActionBar" />
    </application>

</manifest>